*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EAFEFC;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 824px;
    border: 2px solid #9BFB96;
    background-color: #6A5C61;
    height: 433px;
    border-radius: 56px;
    margin-top: 64px;
}

.container h1{
    color: white;
    font-family: 'Pacifico', cursive;
    text-shadow: 4px 4px 8px black;
    display: block;
    font-size: 4em;
    font-weight: bold;
}

.input-boxed{
    border:2px solid blue;
    border-radius: 55px;
    width: 100%;
    max-width: 372px;
    
    height: 54px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.input-boxed input{
    width: 325px;
    height: 49px;
    color:#6A5C61;
    font-size:25pt;
    border:1px solid white;
    outline: none;
    display: none;
}

.img_exchange{
    width:50px;
    height: 50px;
}

.selectedbutton{
    display: flex;
    justify-content: space-between;
    width: 335px;
}

.select_from{
   
    width: 95px;
    height: 41px;
}
.select_to{
    width: 95px;
    height: 41px;
}

.button-convert{
    width: 114px;
    height: 50px;
    background-color: #00805d;
    color: white;
    
    font-size: 17pt;
}

.show{
    font-size: 24pt;
    color: #ffb10094;
}