*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3em;
    color: white;
    font-family: 'Pacifico', cursive;
    text-shadow: 4px 4px 8px black;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

